* {
    font-family: 'Noto Sans KR', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    height: 80px;
    background-color: #fff;
}

header .logo {
    width: 80px;
    height: 80px;
}

header .logo-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

header .membership {
    display: flex;
}

header .membership > button {
    background: inherit;
    border: none;
    box-shadow: none;
    padding: 10px;
    overflow: visible;
    cursor: pointer;
    margin-left: 10px;
    transition: 0.3s;
}

header .membership > button:hover {
    color: #9047ee;
}

main {
    min-height: calc(100vh - 80px);
    background-color: #eee;
    padding-bottom: 100px;
}


main .escape-theme {
    width: 1000px;
    margin: 0 auto;
    padding-top: 100px;
}

main .theme-description {
    padding: 35px;
    background-color: #fff;
    margin-bottom: 10px;
}

main .theme-description .desc {
    font-size: 14px;
}

main h2 {
    font-size: 1.5em;
    color: #a6a6a6;
    margin-bottom: 10px;
    font-weight: 700;
}

main .theme-list {
    display: flex;
    flex-wrap: wrap;
}

main .theme {
    width: calc(100% / 4 - 20px);
    margin: 10px 10px 30px 10px;
    cursor: pointer;
}

main .theme-image {
    padding: 35px;
    background-color: #fff;
    margin-bottom: 10px;
}

main .theme-image .pic {
    width: 100%;
    height: 300px;
    background-position: center;
    background-size: cover;
}

main .theme-image .genre-title {
    font-size: 20px;
    margin-bottom: 15px;
    color: #337ab7;
}

main .theme-image .genre-review {
    font-size: 14px;
    display: flex;
    position: relative;
}

main .theme-image .genre-score {
    position: absolute;
    top: 0;
    left: 100px;
}

main .theme-image .genre-count .genre-type {
    position: absolute;
    top: 0;
    left: 125px;
}

main .theme-info {
    padding: 35px;
    background-color: #fff;
    margin-bottom: 10px;
}


main .theme-fee {
    padding: 35px;
    background-color: #fff;
    margin-bottom: 10px;
}

