* {
    font-family: 'Noto Sans KR', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    height: 80px;
    background-color: #fff;
}

header .logo {
    width: 80px;
    height: 80px;
}

header .logo-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

header .membership {
    display: flex;
}

header .membership > button {
    background: inherit;
    border: none;
    box-shadow: none;
    padding: 10px;
    overflow: visible;
    cursor: pointer;
    margin-left: 10px;
    transition: 0.3s;
}

header .membership > button:hover {
    color: #9047ee;
}


main {
    padding: 100px 0;
    background-color: #eee;
    min-height: calc(100vh - 80px);
}

.location {
    width: 1000px;
    margin: 0 auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #cbcbcb;
}

.location .location-wrap {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #cbcbcb;
}

.location .location-wrap .location-value {
    width: 10%;
    padding: 10px;
    font-size: 14px;
    cursor: pointer;
    letter-spacing: -1px;
    position: relative;
}

.location .location-wrap .location-value::before {
    content: '';
    left: 0;
    top: 10px;
    width: 2px;
    height: 20px;
    background-color: #9047ee;
    display: block;
    position: absolute;
}

.location .location-wrap .location-value:hover {
    color: #9047ee;
}

.info-location {
    width: 100px;
    margin: 50px auto 0;
    text-align: center;
    font-size: 40px;
    font-weight: 900;
}

.info-wrap {
    width: 1000px;
    margin: 50px auto 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.info-wrap .info {
    width: calc(100% / 3 - 20px);
    padding: 20px 20px 40px 20px;
    margin: 10px;
    background-color: #fff;
    cursor: pointer;
}

.info-wrap .info .info-header {
    object-fit: cover;
    margin-bottom: 20px;
    height: 200px;
    width: 100%;
    background-image: url("../images/logo.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


.info-wrap .info .info-title {
    font-size: 23px;
    margin-bottom: 15px;
    transition: 0.3s;
}

.info-wrap .info:hover .info-title{
    color: #9047ee;
}

.info-wrap .info .info-review {
    font-size: 14px;
    display: flex;
    position: relative;
}

.info-wrap .info .info-score {
    position: absolute;
    top: 0;
    left: 100px;
}

.info-wrap .info .info-count {
    position: absolute;
    top: 0;
    left: 125px;
}
