* {
    font-family: 'Noto Sans KR', sans-serif;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    height: 80px;
    background-color: #fff;
}

header .logo {
    width: 80px;
    height: 80px;
}

header .membership {
    display: flex;
}

header .membership > button {
    background: inherit;
    border: none;
    box-shadow: none;
    padding: 10px;
    overflow: visible;
    cursor: pointer;
    margin-left: 10px;
    transition: 0.3s;
}

header .membership > button:hover {
    color: #9047ee;
}